@import "_variables";
@import "_mixins";
@import "_reset";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Permanent Marker", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 85px;
    padding-bottom: 20px;
  }
}
main {
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, auto));
  grid-template-rows: repeat(2, 1fr);
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    h2 {
      font-size: 25px;
    }
    span {
      font-size: 12px;
      font-weight: 300;
    }
  }
  // grid-template-areas: ;
  .box1 {
    // grid-area: box1;
    background-color: #bfbda7;
  }

  .box2 {
    // grid-area: box2;
    background-image: url("https://source.unsplash.com/780x560/?wallpaper");
    background-size: cover;
  }
  .box3 {
    // grid-area: box3;
    background-color: #fe4915;
    // color: white;
  }
  .box4 {
    // grid-area: box4;
    background-image: url("https://source.unsplash.com/780x561/?wallpaper");
    background-size: cover;
  }
  .box5 {
    // grid-area: box5;
    background-color: #847f96;
    // color: white;
  }
  .box6 {
    // grid-area: box6;
    background-color: #d1ff71;
  }
  .box7 {
    // grid-area: box7;
    background-color: #993433;
    // color: white;
  }
  .box8 {
    // grid-area: box8;
    background-color: #39aaf9;
  }
  .box9 {
    // grid-area: box9;
    background-image: url("https://source.unsplash.com/780x562/?wallpaper");
    background-size: cover;
  }
  .box10 {
    // grid-area: box10;
    background-color: #42907a;
  }
  .box11 {
    // grid-area: box11;
    background-image: url("https://source.unsplash.com/780x563/?wallpaper");
    background-size: cover;
  }
  .box12 {
    // grid-area: box12;
    background-color: #e3c4e5;
  }
}
