@import "_elements";
@import "_variables";
@import "_reset";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #f0f0ea;
  padding: 40px;
  color: $black;
}
header {
  font-size: 46px;
  letter-spacing: 1px;
  margin-bottom: 170px;
}

.works {
  margin-bottom: 100px;
  .works__header {
    @extend %grid;
    padding-bottom: 10px;
    span {
      @extend %tinyText;
    }
  }
  .works__list {
    .works__work {
      cursor: pointer;
      font-size: 24px;
      @extend %grid;
      padding: 20px 0;
      border-top: 1px solid $black;
      &:hover {
        font-style: italic;
      }
    }
  }
}

.cv,
.about {
  font-size: 28px;
  letter-spacing: 1.6px;
  line-height: 40px;
  span {
    @extend %tinyText;
    letter-spacing: 1px;
  }
  a {
    color: $red;
    &:hover {
      font-style: italic;
    }
  }
}

.cv {
  margin-bottom: 110px;
}
.about {
  margin-bottom: 70px;
}
